-- USE <DATABASE ADI> SECİLİ DATABASEİ AKTİF YAPAR
USE NETRON09
-- KAYIT SORGULAMAK ICIN SELECT
-- SELECT <KOLON ADI> FROM <TABLO ADI>
SELECT KULLANICIADI FROM TBL_KULLANICILAR
SELECT * FROM TBL_KULLANICILAR
SELECT DISTINCT (SUBSTRING(KULLANICI,1,1)) FROM TBL_KULLANICILAR
-- VEYA (DISTINCT AYNI KAYITLARI TEKE INDIRIR)
SELECT DISTINCT (LEFT(KULLANICIADI,1)) FROM TBL_KULLANICILAR
-- LEFT (KOLONADI, KARATERSAYISI) SOLDAN N KADAR AYIR
-- RIGFHT (KOLONADI, KARAKTERSAYISI) SAGDAN AYİR
-- SUBSTRING (KOLONADI, KACINCIKARAKTERDEN, KACKAREKTER)
-- LTRIM(KOLONADI) SOLDAKI BOSLUKLARI ATAR
-- RTRIM(KOLONADI) SAGDAKİ BOSLUKLARİ ATAR
-- REPLACE(KOLONADI, ESKİ DEGER, YENİ DEGER)
SELECT LTRIM (KULLANICIADI) FROM TBL_KULLANICILAR
SELECT REPLACE (KULLANICI, "",'') FROM TBL_KULLANICILAR
--SELECT KOLONADI INTO YENITABLA FROM ESKITABLO VAR OLAN TABLO
SELECT * INTO TBL_KULLANICIKOPYA FROM TBL_KULLANICILAR
SELECT * FROM TLB_KULLANICIKOPYA
SELECT KULLANICIADI, KULLANICIREFERANS INTO TBL_KULLANICILAR_TEMP FROM TBL_KULLANICILAR
SELECT * FROM TBL_KULLANICILAR_TEMP
-- " GORDUGUNDE REPLACE ET, BOSLUK GORDUGUNDE LTRIM YAP
SELECT CASE LEFT(KULLANICIADI,1)
	WHEN "" THEN REPLACE(KULLANICIADI, "",'')
	WHEN '' THEN LTRIM(KULLANICIADI)
			ELSE KULLANICIADI
	END
FROM TBL_KULLANICILAR
-- CASE IN SART KONTROLLU KULLANIMI
SELECT KULLANICIADI, YEAR(GETDATE())-YEAR(DOGUMTARIHI) 'YAŞI'
	CASE WHEN YEAR(GETDATE())-YEAR(DOGUMTARIHI)<= THEN 'ÇALIŞTIRILAMAZ'
	ELSE 'ÇALIŞABİLİR'
	END 'DURUMU'
FROM TBL_KULLANCIILAR
-- FILTRELEME ICIN WHERE
SELECT * FROM TBL_KULLANICILAR WHERE KULLANICIADI = 'ALİ VARYEMEZ'
SELECT NEWID() -- YENI UNIQUE IDLER URETIR
SELECT * FROM TBL_KULLANICILAR WHERE MAAS < 300
SELECT * FROM TBL_KULLANICILAR WHERE KULLANICIADI LIKE '%"%' -- ICINDE CIFT TIRNAK OLAN KAYITLAR
SELECT * FROM TBL_KULLANICILAR WHERE KULLANICIADI LIKE '%"' -- SON KARAKTERI CIFT TIRNAK
SELECT * FROM TBL_KULLANICILAR WHERE SUBSTRING(KULLANICIADI,LEN(KULLANICIADI),1)="" -- SON KARAKTERI CIFT TIRNAK
SELECT * FROM TBL_KULLANICILAR WHERE RIGHT(KULLANICIADI,1)='"' -- EN PERFORMANSLI

SELECT * FROM TBL_KULLANICILAR WHERE MAAS BETWEEN 300 AND 400
SELECT * FROM TBL_KULLANICILAR WHERE MAAS>=300 AND MAAS<=400

--SELECT KULLANICIADI, DATEPART(DD,DOGUMTARIHI) DATEPART(MM,DOGUMTARIHI) DATEPART(YY,DOGUMTARIHI) AS DOGUM FROM TBL_KULLANICILAR
SELECT KULLANICIADI,
	CAST(DAY(DOGUMTARIHI) AS NVARCHAR(2)) +'.'+
	CAST(MONTH(DOGUMTARIHI) AS NVARCHAR(2)) +'.'+
	CAST(YEAR(DOGUMTARIHI) AS NVARCHAR(4))
FROM TBL_KULLANICILAR
-- yukarıdakı dogumtarıhını gun ay yıl olarak getirir
-- ASAGIDAKI UNIQUE ID URETIR ANCAK ILK 2 KARAKTER HARFSE
DECLARE @URETILEN uniqueidentifier
SET @URETILEN=NEWID()
SELECT CASE WHEN ISNUMERIC(SUBSTRING(CAST(@URETILEN AS NVARCHAR(50)),1,1))=0 AND ISNUMERIC(SUBSTRING(CAST(@URETILEN AS NVARCHAR(50)),2,1))=0 THEN @URETILEN END 'UNIQUE ID ILK 2 HARF'
----
SELECT * FROM TBL_KULLANICILAR
		WHERE MAAS<400 OR LEFT(KULLANICIADI,1)=''
-- ALMANYADAKİ MAGAZALAR
USE YazilimWorks
SELECT * FROM MAGAZA WHERE BOLGEID IN (SELECT BOLGEID FROM BOLGE WHERE BOLGEAdi='Germany')
--Inner Join iki tabloda eşleşen kayıtları getirdi.
USE YazilimWorks
SELECT BolgeAdi, MagazaID,MagazaAdi FROM Magaza INNER JOIN BOLGE ON Magaza.BolgeID=Bolge.BolgeID
-- Bolgelere gore magaza sayisi
SELECT BolgeAdi, COUNT(MagazaID) Sayi FROM Magaza INNER JOIN BOLGE ON Magaza.BolgeID = Bolge.BolgeID GROUP BY BolgeAdi ORDER BY Sayi Desc
-- Magazaların Satis Tutarına göre gruplanması
SELECT TOP (100) PERCENT SUM(dbo.FaturaSatirlari.Tutar) AS [Satis Tutari], dbo.Magaza.MagazaAdi FROM dbo.Fatura INNER JOIN dbo.FaturaSatirlari ON dbo.Fatura.FaturaId = dbo.FaturaSatirlari.FaturaId INNER JOIN dbo.Magaza ON dbo.Fatura.MagazaId = dbo.Magaza.MagazaId GROUP BY dbo.Magaza.MagazaAdi ORDER BY [Satis Tutari] DESC
-- 2002 yılında göre ürünlerin satış adetleri
SELECT TOP (100) PERCENT dbo.Urun.UrunAdi AS [Urun Adi], SUM(dbo.faturaSatirlari.Adet) AS Adet, YEAR(dbo.Fatura.Tarih) AS Yil FROM dbo.Urun INNER JOIN dbo.FaturaSatirlari ON dbo.Urun.UrunId = dbo.FaturaSatirlari.UrunId INNER JOIN dbo.Fatura ON dbo.FaturaSatirlari.FaturaId = dbo.Fatura.FaturaId GROUP BY dbo.Urun.UrunAdi, YEAR(dbo.Fatura.Tarih) HAVING (YEAR(dbo.Fatura.Tarih) = 2002) ORDER BY Adet DESC
--