<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DersAdoOffline.Properties.Settings.conn" connectionString="Data Source=MIAMI;Initial Catalog=NETRON08;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>