<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="Musteri">
      <client>
        <wellknown type="UzakNesne.magazalar,UzakNesne" url="tcp://localhost:1000/UzakNesne"/>
      </client>
      <channels>
        <channel ref="tcp client"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>