<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ders_OfflineKontroller.Properties.Settings.MAHMUTDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=MAHMUTDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>