<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="MagazaUygulama">
      <service>
        <wellknown mode="SingleCall" type="UzakNesne.magazalar,UzakNesne" objectUri="UzakNesne"/>
      </service>
      <channels>
        <channel ref="tcp server" port="1000"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>